@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    color: black;
}
body{
    background-color: white;
}
.header-container{
  /* width: 100vw; */
  height: 40vh;
  background-image: url(/src/assets/background.jpg);
  background-repeat: repeat-x;
  /* display: flex;
  justify-content: center; */
  padding-top: 15px;

}

.header-content{
    display: flex;
    width: 95%;
    height: 20%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-container{
    display: flex;
    /* width: 250px;
    justify-content: space-between; */
    gap: 25px;
}
.link-content{
    color: rgb(62, 56, 56);
    font-size: 19px;
    font-family: "Yatra One", system-ui;
    font-weight: 200;
    font-style: normal;

}

.searchbar-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Yatra One", system-ui;
    font-weight: 200;
    font-style: normal;
}

.search-input {
    background-color: #d99d0467;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    width: 500px; 

}

.search-icon {
    padding: 10px;
    color: #555;
    cursor: pointer; 
    background-color: #d99d0467;
    height: 38px;
}


.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 70px;
}

.auth-button{
    background-color: #d99d0467; 
    /* background-color: transparent; */
    color: black; 
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    font-family: "Yatra One", system-ui;
    font-weight: 200;
    font-style: normal;
    
}

.auth-button:hover{
    transform: scale(1.08);
    box-shadow:0 4px 8px black;
    border: 1px solid blue ;

}

.heading-container{
    width: 100%;
    height: 10vh;
    margin-top: 20px;

}

.heading-content{
    margin: 0 auto;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.heading{
   font-size: 50px;
   font-weight: 400;
}

.heading-logo{
    height: 50px;
}

.poemOfTheDay{
    width: 100vw;
    height: 50vh;
    transform: translateY(-90px);
}

.pod-content{
    display: flex;
    flex-direction: column;
    /* gap:2px; */
    background-color: #FBF8F2;
    margin: 0 auto;
    height: 100%;
    width: 50%;
    padding-top: 15px;
    border-radius: 10px;
}

.pod-heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pod-heading p{
    font-size: 25px;
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.pod-desc{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    height: 100%;
}

.left-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 40%;

}

.left-box p{
    font-size: 20px;
    font-family: "Noto Sans Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.right-box{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: end;
}

.premchand{
    width: 80%;
    height: 90%;
    
}

#poetname{
    display: flex;
    justify-content: end;
}
#poetname p{
    font-weight: 400;
}

.famous-poem{
    width: 100vw;
    height: 80vh;
}

.fp-content{
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2px;
    background-color: #FBF8F2;
    border-radius: 10px;
}

.fp-heading{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fp-title{
    font-size: 30px;
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.fp-poems{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 40px;
    height: 79%;
    padding-left: 20px;
    padding-right: 20px;
}

.fpoem{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: pre-line;
    font-size: 20px;
    font-family: "Noto Sans Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.writing-container{
    width: 100vw;
    height: 10vh;
    margin-top: 50px ;

}

.button-content{
    width: 18%;
    height: 100%;
    margin: 0 auto;
    background-color: #FDF2DD;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.button-p{
    background-color: #e6b73f9f ;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px ;
}

.button-content:hover{
    transform: scale(1.08);
    box-shadow:0 4px 8px black;
    border: 1px solid blue ;

}



.genre{
    margin: 90px 0;
    width: 100vw;
    height: 70vh;
}
.genre-content{
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    background-color: #FBF8F2;
}

.genre-title{
    font-size: 30px;
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
}

.genre-types{
    height: 75%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 30px;
}

.gtype{
    background-color: #e7cb8375;
    size: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: "Noto Sans Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


.gtype:hover{
    transform: scale(1.08);
    box-shadow:0 4px 8px black;
    border: 1px solid blue ;

}

.footer-container{
    /* background-color: rgba(128, 128, 128, 0.449); */
    background-image: url(/src/assets/background.jpg);
    /* margin: 0 auto; */
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    /* max-width: 1590px; */
    width: 100%;
}

.footer{
    margin: 0 auto;
    max-width: 1280px;
    padding:1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-svg{
    width: 3.5rem;
    height: 4rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
}
.social{
    display: flex;
    gap: 0.8rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: black;
}

ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}

 @media screen and (max-width:1050px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    .footer-top{
        padding-left: 1rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}